<ion-header>
  <ion-toolbar>
    <ion-menu-button slot="start" color="primary"></ion-menu-button>
    <ion-img src="../../../../assets/images/Logo-transparente.png"></ion-img>
  </ion-toolbar>
</ion-header>

<ion-card>
  <ion-card-title>Faça um agendamento</ion-card-title>
  <div *ngFor="let cliente of perfilCliente">

    <!-- body -->
    <ion-card-title>
      <h5>Informações do cliente</h5>
    </ion-card-title>
    <ion-card-content>
      <ion-row>
        <ion-col>
          <ion-label>Endereço:</ion-label>
          <p>{{cliente?.endereco.logradouro}}, {{cliente?.endereco.numero}}, {{cliente?.endereco.bairro}}</p>
          <p>{{cliente?.endereco.cidade}}, {{cliente?.endereco.estado}}</p>
        </ion-col>
      </ion-row>
    </ion-card-content>
  </div>
</ion-card>
<ion-card>
  <ion-card-title>
    <h5>Informações do prestador</h5>
  </ion-card-title>

  <ion-card-content>
    <ion-grid>
      <ion-row>
        <ion-col>

          <p>{{perfilPrestador?.nome}}</p>

        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          DATA DO SERVIÇO
          <p><ion-icon name="calendar" (click)="toggleDatePicker()"></ion-icon>
          <ion-button *ngIf="mostraCalendarioOnClick" (click)="closeDatePicker()" class="medium-button"> 
          OK
          </ion-button>
          </p>
          <!-- Campo para mostrar a data escolhida -->
          <p *ngIf="selectedDate"> Data AGENDADA: {{ selectedDate }}</p>
          <ion-input placeholder="CLIQUE NO CALENDÁRIO" [(ngModel)]="osPedido.dataServico"></ion-input>
          <!-- Exibe ion-datetime apenas se showDatePicker for true -->
          <ion-datetime *ngIf="mostraCalendarioOnClick" displayFormat="DD/MM/YYYY" pickerFormat="DD MMM YYYY"
            [(ngModel)]="osPedido.dataServico" (ionChange)="onDateSelected($event)">
          </ion-datetime>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card-content>

  <ion-card-content>
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-label>Tipo de Diária:</ion-label>
          <ion-select [(ngModel)]="osPedido.tipoDeDiaria" placeholder="ESCOLHA A DIÁRIA">
            <ion-select-option value="DIARIA_CHEIA">Diária cheia</ion-select-option>
            <ion-select-option value="MEIA_DIARIA">Meia diária</ion-select-option>
          </ion-select>
        </ion-col>
        <ion-col>
          <ion-label>Período:</ion-label>
          <ion-select [(ngModel)]="osPedido.periodo" placeholder="ESCOLHA O PERÍODO">
            <ion-select-option value="MATUTINO">Matutino</ion-select-option>
            <ion-select-option value="VESPERTINO">Vespertino</ion-select-option>
            <ion-select-option value="COMERCIAL">Horário comercial</ion-select-option>
          </ion-select>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-label>Observação:</ion-label>
          <p>{{perfilPrestador?.observacao}}</p>

          <p>{{perfilPrestador?.descricao}}</p>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card-content>
</ion-card>
<ion-card>
  <ion-card-title>
    <h5>Custos</h5>
  </ion-card-title>
  <ion-card-content>
    <ion-row>
      <ion-col>
        <ion-label>Serviço: </ion-label>
        <p>{{perfilPrestador?.servico.descricao}}</p>
      </ion-col>
      <ion-col>
        <ion-label>Total:</ion-label>
        <p>R$ {{perfilPrestador?.servico.valor | number: "1.2-2"}}</p>
      </ion-col>
    </ion-row>
  </ion-card-content>
</ion-card>

<!-- button -->
<ion-grid>
  <ion-row class="ion-justify-content-center">
    <ion-col size="5">
      <ion-button fill="solid" color="primary" expand="block" routerLink="/historico-agendamentos"
        (click)="onClick()">enviar</ion-button>
    </ion-col>
    <ion-col size="5">
      <ion-button fill="outline" color="primary" expand="block" routerLink="/perfil-prestador">Cancelar</ion-button>
    </ion-col>
  </ion-row>
</ion-grid>