

<ion-header>
  <ion-toolbar>
    <ion-menu-button slot="start" color="primary"></ion-menu-button>
    <ion-img src="../../../../assets/images/Logo-transparente.png"></ion-img>
  </ion-toolbar>
</ion-header>


  <div class="ion-text-wrap">
    <br>
    <p>Olá</p>
    <div *ngFor="let cliente of clientes">
      <h3>{{ cliente?.nome}}</h3>
      </div>
    <p>Bem vindo ao app de serviço de limpeza mais amado do Brasil</p>
  </div>
  <br>

  <ion-header>
    <div class="Capa">
      <img src="../../../../assets/images/home.png">
    </div>
        
  </ion-header >
   <br><br><br>
  
    <ion-button  size="medium" color="primary" routerLink="/historico-agendamentos">Seus Pedidos</ion-button> 
    <ion-button  size="medium" color="primary" routerLink="/pesquisa-prestador">Busque Prestadores</ion-button> 
  




