.card {
    font-family: 'Roboto', sans-serif;
   font-weight: bold;


    ion-card-header {
        height: 50px;
        padding-top: 1%;
    }

    ion-card-subtitle {
        
        font-size: 15px;
        font-weight: bold;
    }
}