
<ion-header>
  <ion-toolbar>
    
      <ion-menu-button slot="start" color="primary"></ion-menu-button>
      <ion-img src="../../../../assets/images/Logo-transparente.png"></ion-img>
    
  </ion-toolbar>
</ion-header>


  <div>
    <img src="../../assets/images/prestador.PNG"  >
  </div>
  
   <div align="center" style= "padding-top:10px; font-size:medium;"> 
    <p> Olá prestador! </p> 
    <div *ngFor="let prestador of prestadores?.conteudo">
    <h3>{{ prestador?.nome}}</h3>
    </div>
    <p> Bem vindo ao app de serviços</p> 
    <p> de limpeza mais amado do Brasil</p>
  </div>
  
      <ion-grid>
        <ion-row justify-content-center>
          <ion-col size="auto" >
            <ion-button shape="round" fill="outline" routerLink="/historico-agendamentos" class="custom-button">
              Administrar Agenda
            </ion-button>
          </ion-col>
        </ion-row>
        <ion-row justify-content-center>
          <ion-col size="auto"  style="padding: 0 10px;">
            <ion-button shape="round" fill="outline" routerLink="/finalizar-os"class="custom-button">
              Finalizar Ordem de Serviço
            </ion-button>
          </ion-col>
        </ion-row>
        <ion-row justify-content-center>
          <ion-col size="auto"  style="padding: 0 10px;">
            <ion-button shape="round" fill="outline" routerLink="/perfil-prestador" class="custom-button">
              Perfil
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
 



