.fundo-loading{
    position: absolute;
    padding-top: 55%;
    padding-left: 22%;
    max-width: 100%;

}
.Logo{
   position: absolute;
   height: 30%;
   padding-top: 60%;
   padding-left: 26%;
   max-width: 100%;
}