.prestador-list {
    list-style: none;
    padding: 0;
  }
  
  .row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #ccc;
    padding: 10px 0;
  }
  
  .col1 {
    flex: 0 0 50px; /* Largura fixa para a coluna 1 */
    margin-right: 10px;
  }
  
  .col1 img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
  }
  
  .col2 {
    flex: 0 0 150px; /* Largura fixa para a coluna 2 */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  
  .nome {
    font-weight: bold;
    font-size: 12px;
  }
  
  .regiao,
  .valor {
    font-size: 12px;
    margin-top: 5px;
  }
  
  .col3 {
    flex: 0;
    text-align: right;
  }