<ion-header>
  <ion-toolbar>

    <div class="header"><img src="../../../../assets/images/logo_empreget.png">
      <ion-title>{{tipoUser}}</ion-title>
    </div>
    <ion-menu-button slot="start"></ion-menu-button>

  </ion-toolbar>
</ion-header>
<br>
<ion-content>
  <div align="center" style="padding-top:20px; font-size:large;"> Ordem de Serviço n<sup>o</sup> {{idPedido}} </div>
  <br><br>
  <ion-item>
    <ion-avatar slot="start">
      <img alt="Silhouette of a person's head" src="../../../assets/icon/person-outline.svg" />
    </ion-avatar>
    <ion-label fill="clear">
      <ion-grid>
        <ion-row class="ion-align-items-start"> <!-- Adicione a classe para alinhar o conteúdo ao topo -->
          <div *ngIf="tipoUser=='CLIENTE'">
            <ion-col>
              <p class="texto ion-text-left">Prestador:</p>
              <div style="font-weight: bold; font-size: medium;" class="ion-text-left">{{pedido?.nomePrestador}}</div>
            </ion-col>
          </div>
          <div *ngIf="tipoUser=='PRESTADOR'">
            <ion-col>
              <p class="texto ion-text-left">Cliente:</p>
              <div style="font-weight: bold; font-size: medium;" class="ion-text-left">{{pedido?.nomeCliente}}</div>
            </ion-col>
          </div>
          <ion-col>
            <p class="texto ion-text-left">Data agendada:</p>
            <p class="ion-text-left">{{pedido?.dataServico}}</p>
          </ion-col>
        </ion-row>
      </ion-grid>
      <br><br><br>
      <p class="texto">Endereço do Serviço: </p>
      <p>{{pedido?.localDoServico.logradouro}},
        {{pedido?.localDoServico.numero}},
        {{pedido?.localDoServico.complemento}}</p>
      <p>{{pedido?.localDoServico.bairro}}</p>
      <p>{{pedido?.localDoServico.cidade}}-
        {{pedido?.localDoServico.estado}}</p>
      <p class="texto">Período solicitado: </p>
      <p>{{pedido?.periodo}}/{{pedido?.tipoDeDiaria}}</p>
      <br>
      <p class="texto">Serviço contratado:</p>
      <p> {{pedido?.servico.descricao}}</p>
      <br>
      <p class="texto">Valor contratado:</p>
      <p>R$ {{pedido?.servico.valor | number: '1.2-2'}}</p>
      <br><br>
      <p>Status da O.S.</p>
      <div style="font-weight: bold; font-size: medium;">{{pedido?.statusOrdemServico }}</div>
      <p *ngIf="pedido?.dataDaFinalizacao" class="texto">Atualizado em: {{pedido?.dataDaFinalizacao}}</p>
      <p *ngIf="!pedido?.dataDaFinalizacao" class="texto">Atualizado em: {{pedido?.dataDaSolicitacao}}</p>

    </ion-label>

  </ion-item>



  <div *ngIf="tipoUser=='CLIENTE'">
    <ion-grid>
      <ion-row justify-content-center>
        <ion-col style="padding: 20px 10px;">
          <div *ngIf="pedido?.statusOrdemServico !== 'CANCELADO' &&
              pedido?.statusOrdemServico !== 'PENDENTE' && 
              pedido?.statusOrdemServico !== 'FINALIZADO'">
            <ion-button shape="round" color="danger" (click)="onClickCancelarOS()">
              Cancelar OS
            </ion-button>
          </div>
        </ion-col>
        <ion-col style="padding: 20px 10px;">
          <ion-button shape="round" color="primary" routerLink="/historico-agendamentos">
            Voltar
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>


  <!-- ****BOTOES PARA O PRESTADOR  *** -->
  <div *ngIf="tipoUser=='PRESTADOR'">
    <ion-grid>
      <ion-row justify-content-center>
        <ion-col style="padding: 20px 10px;">
          <div *ngIf="pedido?.statusOrdemServico !== 'CANCELADO' && pedido?.statusOrdemServico !== 'PENDENTE'">
            <ion-button shape="round" color="success" (click)="onClickAceitarOS()">
              Aceitar
            </ion-button>
          </div>
        </ion-col>

        <ion-col style="padding: 20px 10px;">
          <div *ngIf="pedido?.statusOrdemServico !== 'CANCELADO' && pedido?.statusOrdemServico !== 'PENDENTE'">
            <ion-button shape="round" color="warning" (click)="onClickRecusarOS()">
              Recusar
            </ion-button>
          </div>
        </ion-col>
        
        <ion-col style="padding: 20px 10px;">
          <div *ngIf="pedido?.statusOrdemServico !== 'CANCELADO' && pedido?.statusOrdemServico !== 'AGUARDANDO_ACEITE'">
            <div *ngIf="pedido?.statusOrdemServico === 'PENDENTE'">
              <ion-button shape="round" color="success" routerLink="/finalizar-os">
                Finalizar OS
              </ion-button>
            </div>
          </div>
        </ion-col>
        <ion-col style="padding: 20px 10px;">
          <ion-button shape="round" color="primary" routerLink="/historico-agendamentos">
            Voltar
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>