ion-content{
    --padding-start: 1rem;
    --padding-end: 1rem;
    h3{
        display: flex;       
        justify-content: center;
        
    }

    .header-card{
        display: flex;
        justify-content: space-between;
        margin-bottom: 1rem;
        margin-top: 1rem;
        margin-left: 1rem;
    }
    .avatar-card{ 
        width: 60px;
        height: 60px;   
        border-radius: 50%;
        display: flex;
        align-items: flex-start;
        justify-content: center;
        overflow: hidden;
    }
    h4{
        font-size: 3rem;
        font-weight: 700;
        margin: 0;
        color: #515151;      

    }

    img{
           padding-block: 10%;
     }
}

