<ion-header>
  <ion-toolbar color="primary">
    <ion-menu-button slot="start"></ion-menu-button>
    <ion-title>Agendamentos</ion-title>
    <ion-buttons slot="end">
      <ion-back-button default-href="/home"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <h3>Histórico de agendamentos:</h3>

<ul *ngFor="let pedido of pedidos">

    <ion-item>
      <ion-avatar slot="start">
        <img alt="Silhouette of a person's head" src="../../../assets/icon/person-outline.svg" />
      </ion-avatar>
      <ion-label fill="clear" >
        <div class="texto">  Pedido nº {{pedido?.id}} </div>
        <p class="texto">{{pedido?.nomePrestador}}</p>
        <p class="texto">Data: {{pedido?.dataServico}}</p>
        <p>{{pedido.statusOrdemServico }}</p>
      </ion-label>
      <ion-col class="coluna-view">
        <ion-button fill="clear" >view</ion-button>
      </ion-col>
    </ion-item>
  </ul>

</ion-content>