<ion-header>
  <ion-toolbar>
    <ion-menu-button slot="start" color="primary"></ion-menu-button>
    <div class="header">
      <ion-img src="../../../../assets/images/Logo-transparente.png"></ion-img> 
      <ion-title>{{tipoUser}}</ion-title>
    </div>
  </ion-toolbar>
</ion-header>



<ion-content>
  <ion-card>
    <ion-card-title>AGENDAMENTOS</ion-card-title>
    <ion-card-content>
      <ul *ngFor="let pedido of pedidos?.conteudo">

        <ion-item>
          <ion-grid>
            <ion-row>
              <ion-col>
                <ion-avatar slot="start">
                  <img alt="Silhouette of a person's head" src="../../../assets/icon/person-outline.svg" />
                </ion-avatar>
              </ion-col>
              <ion-col>
                <ion-label fill="clear">
                  <div class="texto"> Pedido nº {{pedido?.id}} </div>
                  <div *ngIf="tipoUser=='CLIENTE'">
                    <p class="texto">{{pedido?.nomePrestador}}</p>
                  </div>
                  <div *ngIf="tipoUser=='PRESTADOR'">
                    <p class="texto">Cliente: {{pedido?.nomeCliente}}</p>
                  </div>
                  <p class="texto">Data: {{pedido?.dataServico}}</p>
                  <p>{{pedido?.statusOrdemServico }}</p>
                </ion-label>
              </ion-col>
              <ion-col class="coluna-view">
                <ion-button fill="clear" routerLink="/os-view" (click)="onClick(pedido?.id)">view</ion-button>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-item>
      </ul>
    </ion-card-content>
    <div>
      <ion-grid>
        <ion-row justify-content-center>
          <ion-col style="padding: 20px 20px;">
            <ion-button shape="round" color="primary" routerLink="/hello">
              Início
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </ion-card>
</ion-content>